PORT=3000
MONGODB_URI=
REDIS_URI=
APP_URL=
CLIENT_URL=
NODE_ENV=development
LOG_LEVEL=info
LOKI_HOST=
LOKI_USER=
LOKI_PASSWORD=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_RESET_SECRET=
JWT_SETUP_SECRET=
CSRF_SECRET=
SMTP_HOST=
SMTP_PORT=25
SMTP_USER=
SMTP_PASS=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
