layout {
  pane split_direction="vertical" {
    pane  {
      pane name="api gateway"{
        command "npm"
        args "run" "dev"
        cwd "~/upstride/upstride-backend/api-gateway"
      }
      pane name="identity service"{
        command "npm"
        args "run" "dev"
        cwd "~/upstride/upstride-backend/identity-service"
      }
      pane name="mail service"{
        command "npm"
        args "run" "dev"
        cwd "~/upstride/upstride-backend/mail-service"
      }
      pane name="article service"{
        cwd "~/upstride/upstride-backend/article-service"
        command "npm"
        args "run" "dev"
      }
      pane name="chat service"{
        cwd "~/upstride/upstride-backend/chat-service"
        command "npm"
        args "run" "dev"
      }
    }
    pane { 
      pane name="notification service"{
        cwd "~/upstride/upstride-backend/notification-service"
        command "npm"
        args "run" "dev"
      }
      pane name="sessions service" {
        cwd "~/upstride/upstride-backend/sessions-service"
        command "npm"
        args "run" "dev"
      }
      pane name="media service" {
        command "npm"
        args "run" "dev"
        cwd "~/upstride/upstride-backend/media-service"
      }
      pane name="payment service" {
        command "npm"
        args "run" "dev"
        cwd "~/upstride/upstride-backend/payment-service"
      }
      pane name="frontend"{
        command "npm"
        args "run" "dev"
        cwd "~/upstride/upstride-frontend"
      }
    }
  }
}

